.container {
	display: flex;
	gap: 20px;
	padding: 20px;
}

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.textContainer .svg {
	width: 25px;
	height: 25px;
	fill: var(--text);
}
.title {
	font-size: 3em;
	font-weight: 800;
}
.description {
	font-size: 1.2rem;
	text-align: justify;
}

.date {
	display: flex;
	align-items: center;
	gap: 5px;
}
.place {
	display: flex;
	align-items: center;
	gap: 5px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.button {
	padding: 10px;
	min-width: 120px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--bgSoft);
}

.button:first-child {
	background-color: var(--btn);
	color: var(--bg);
}

.imgContainer {
	width: 55%;
}
.imgContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.imgContainer {
		width: 100%;
	}
}
